[submodule "checkdesk-api"]
	path = check-api
	url = git@github.com:meedan/check-api.git
	branch = develop
[submodule "pender"]
	path = pender
	url = git@github.com:meedan/pender.git
	branch = develop
[submodule "checkdesk-client"]
	path = check-web
	url = git@github.com:meedan/check-web.git
	branch = develop
[submodule "check-mark"]
	path = check-mark
	url = git@github.com:meedan/check-mark.git
	branch = develop
[submodule "check-bot"]
	path = check-bot
	url = git@github.com:meedan/check-bot.git
	branch = develop
[submodule "alegre"]
	path = alegre
	url = git@gitlab.com:meedan/alegre.git
	branch = develop
